@media screen and (max-width: 1620px) {
    .hss-search input{
        width: 300px;
    }

    .hss-login-reg-btns{
        margin-left: 40px;
    }

    .mbf-facet__wrapper img{
        max-height: 80vh;
    }

    .main-block-first{
        height:90vh;
    }

    .mbs-second-section img{
        max-height: 80vh;
        margin-top:-80px;
    }

    
}