@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

:root{
    --main-black-color: #252525;
    --main-blue-color:#2359C0;
    --main-yellow-color:#FDC13D;
    --global--real-padding:90%;
    --main-gradient:linear-gradient(202deg, #95ACFF 0%, #4164E0 100%);
}

*{
    font-family: 'Nunito', sans-serif;
}

body{
    color:var(--main-black-color);
}

a{
    color:var(--main-black-color);
    text-decoration: none;
}

.header-pc__wrapper{
    padding-left:5%;
    padding-right:5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom:15px;
    align-items: flex-start;
    position: fixed;
    max-width: 90%;
    width: 100%;
}

.header-bg{
    background-color:white;
}

.header-fsection{
    display:flex;
}

.header-ssection{
    display:flex;
    align-items: center;
}

.hss-login-reg-btns{
    margin-left:75px;
}

.btn{
    padding:16px 38px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.reg-btn{
    margin-left:25px;
    background-color:var(--main-blue-color);
    color:white;
}

.hfs-menu-per{
    display:flex;
    list-style-type: none;
    padding-bottom: 5px;
    align-items: center;
}

.hfs-menu-per li{
    padding-right:30px;
    vertical-align: middle;
}

.hfs-menu-per li:last-child{
    padding-right:0px;
}

.hfs-menu-per li a{
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color:var(--main-black-color);
}

.hss-search input{
    border-radius: 25px;
    border:3px solid var(--main-blue-color);
    padding:15px 22px;
    width:450px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-block-first{
    display:flex;
    width:var(--global--real-padding);
    margin: auto;
    justify-content: space-between;
    padding-top: 101px;
    max-height: 90vh;
}

.mbf-facet__wrapper{
    display: flex;
    align-items: flex-end;
}

.mbf-facet__wrapper img{
    margin-right: -50px;
    max-height: 90vh;
}

.mbf-text__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mbft-ssection{
    display: flex;
}

.mbftfs-big-text{
    font-family: 'Inter';
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mbftfs-text{
    color: #4F4F4F;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    margin-top:45px;
    margin-bottom:45px;
}

.mbftfs-a{
    background-color:var(--main-yellow-color);
    min-width: 130px;
    color:white;
    display: inline-block;
    text-align: center;
    font-family: 'Inter';
    font-size: 22px;
}

.mbftss-przyczyna{
    padding:35px 45px;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin-right:40px;
}

.mbftssp-cyft{
    font-size: 22px;
}

.mbftssp-text{
    color:var(--main-blue-color);
    font-size: 22px;
    margin-top:5px;
}

.main-block-second__wrapper{
    height:60vh;
    background:var(--main-gradient);
    padding:100px 0;
}

.main-block-second{
    display:flex;
    justify-content: space-between;
    margin:auto;
    max-width: var(--global--real-padding);
}

.mbs-big-text{
    font-size: 55px;
    color:white;
    font-family: 'Inter';
    font-weight: 600;
    margin-bottom:100px;
}

.yellow-text{
    color:var(--main-yellow-color);
}

.mbs-przyczyna{
    display:flex;
    margin-bottom:80px;
}

.mbsp-galoczka{
    margin-right:20px;
}

.mbst-big{
    font-size:28px;
    color:white;
    font-weight: 500;
}

.mbst-small{
    color:white;
    font-weight: 500;
    font-size: 24px;
}

.mbs-second-section img{
    margin-right: -50px;
    max-height: 90vh;
    margin-top:-120px;
}

.main-block-third__wrapper{
    max-width:var(--global--real-padding);
    margin:auto;
    padding:130px 0;
}

.main-block-third{
    display:flex;
    justify-content: space-between;
}

.mbt-big-text{
    font-size: 54px;
    font-weight: 600;
    font-family: 'Inter';
}

.mbt-small-text{
    font-size: 28px;
    padding-top:40px;
    padding-bottom:160px;
    max-width:650px;
}

.mbt-hrefs-a{
    margin-right:95px;
    color: #000;
    font-size: 24px;
    position: relative;
}

.mbt-hrefs-a:after{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    background-image:url(images/arrow.svg);
    background-repeat: no-repeat;
    background-position:center;
    left: 100%;
    width: 60px;
    transition:.2s;
}

.mbt-hrefs-a:hover::after{
    left:110%;
}

.mbt-ssection img{
    max-width:750px;
}

.main-block-cztery__wrapper{
    max-width:var(--global--real-padding);
    margin:auto;
    padding:100px 0;
}

.main-block-cztery{
    display: flex;
    justify-content: space-between;
}

.mbc-center-text{
    text-align: center;
    font-size:54px;
    font-weight: 600;
    font-family: 'Inter';
    padding-bottom:80px;
}

.mbc-list-cat{
    list-style-type: none;
}

.mbc-list-cat li{
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom:35px;
}

.mbc-list-cat li:last-child{
    padding-bottom:0;
}

.mbc-list-hrefs{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    width: 420px;
    justify-content: flex-start;
}

.mbclh__el{
    border:2px solid var(--main-yellow-color);
    border-radius: 38px;
    padding: 13px 34px;
    display: inline-flex;
    margin-bottom:25px;
    margin-right:20px;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color:var(--main-blue-color);
    font-size: 22px;
}

.main-block-piec__wrapper{
    max-width:var(--global--real-padding);
    margin:auto;
    padding:100px 0;
}

.main-block-piec{
    display:flex;
}

.mbp-big-text{
    font-size:54px;
    font-family: 'Inter';
    font-weight: 600;
    padding-bottom:35px;
}

.mbp-normal-text{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom:45px;
}

.mbp-przyczyna__el{
    display: flex;
    margin-bottom:34px;
    align-items: center;
}

.mbpp-p{
    margin-left:20px;
    font-size: 28px;
    font-weight: 500;
}

.mbp-przyczyny__wrapper{
    margin-bottom:60px;
}

.mbp-button{
    background-color:var(--main-yellow-color);
    font-size: 22px;
    font-family: 'Inter';
    color:white;
    width: 144px;
    display: flex;
    justify-content: center;
}

.mbp-ssection img{
    margin-right: -65px;
    max-height: 80vh;
    margin-top: -120px;
}

.plan-block{
    max-width:var(--global--real-padding);
    margin:auto;
    padding:100px 0;
}

.pb-big-text{
    text-align: center;
}

.pb-big-text span{
    font-size:54px;
    font-weight: 600;
}

.pl-plans{
    margin-top:90px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 75px; 
    grid-template-areas: 
      ". . . ."; 
}

.pb-plan{
    height:450px;
    padding:20px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 43px 0px rgba(0, 0, 0, 0.05);
}

.pbpi-title{
    text-align: center;
    font-family: "Inter";
    font-size: 40px;
    font-weight: 600;
}

.pbpi__ul{
    margin-top:30px;
    margin-left:35px;
}

.pbpi__li{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom:25px;
    position: relative;
    display: flex;
    align-items: center;
}

.pbpi__li::before{
    content:'';
    position:absolute;
    left:-28px;
    background-repeat: no-repeat;
    width: 12px;
    height:12px;
    background-color: var(--main-blue-color);
    border-radius: 50%;
}

.pbp-cenowe{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pbpc-up{
    font-size: 24px;
    font-weight: 500;
    margin-bottom:35px;
}

.pbpc-free-up{
    margin-bottom:10px;
}

.pbpc-down a{
    background-color:var(--main-yellow-color);
    color:white;
    font-size: 20px;
    font-weight: 500;
}

.pbpc-free-down{
    bottom:15px;
}

footer{
    padding:80px 0 50px 0;
    background:var(--main-gradient);
    color:white;
}
.footer{
    max-width:var(--global--real-padding);
    margin:auto;
}

.footer-hrefs{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . ."; 
    margin-bottom:80px;
}

.footer-hrefs ul{
    padding-left:0;
    margin:0;
}

.footer-hrefs ul li{
    list-style-type: none;
    margin-bottom:20px;
}

.footer-hrefs ul li:last-child{
    margin-bottom:0;
}

.footer-hrefs ul li a{
    color:white;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-bezinfo{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-nazwa{
    display:flex;
    align-items: center;
}

.fln-nazwa{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left:30px;
}

.fln-logo img{
    width:120px;
}

.footer-email{
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color:white;
}

.profile__wrapper{
    max-width:70%;
    margin:0 auto;
    padding:131px;
}

.pw-basic-info{
    display:flex;
    justify-content: space-between;
}

.pwbi-fsection{
    display:flex;
}

.pwbihi-nienuz{
    display:flex;
}

.pwbis-edit{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    border:1px solid #95ACFF;
    padding:13px 28px;
    border-radius: 11px;
    font-family: 'Inter';
}

.pwbi-avatar img{
    width:150px;
}

.pwbi-human-info{
    margin-left:50px;
}

.pwbihi-name{
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    margin-bottom:8px;
}

.pwbihi-ocena{
    margin-bottom:9px;
}

.pwbihi-ocena img{
    width:150px;
}

.pwbihi-opis{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom:30px;
}

.pwbihin-miejsce, .pwbihin-since{
    display:flex;
    align-items: center;
}

.pwbihin-since{
    margin-left:40px;
}

.pwbihin-miejsce span, .pwbihin-since span{
    padding-left:10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.pw-resume-skills{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 60px; 
    grid-template-areas: 
      ". ."; 
}

.pw-resume{
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.03);
    border-radius: 25px;
    border:1px solid #95ACFF;
    padding:26px 31px;
    min-height:200px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.pw-skills{
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
}

.pws-title{
    font-family: 'Inter';
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    margin-bottom:15px;
}

.pwr-title{
    font-family: 'Inter';
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    margin:55px 0 20px 0;
}

.pw-potrfolio{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 80px; 
    grid-template-areas: 
      ". ."; 
}

.pw-portfolio-title{
    margin-top:100px;
    font-family: 'Inter';
    font-size: 27px;
    font-style: normal;
    margin-bottom:30px;
}

.pwpe-img img{
    width:100%;
}

.pwpe-text{
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 500;
    margin-top:20px;
}

.pwr-el{
    display:flex;
    justify-content: space-between;
    margin-bottom:40px;
    align-items: center;
}

.pwref-info_wrapper{
    display:flex;
    align-items: center;
}

.prefi-avatar img{
    width:60px;
}

.prefi-imie-rank{
    margin-left:9px;
}

.prefi-rank img{
    width:100px;
}

.prefi-imie{
    margin-left:5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.pwref-text{
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top:5px;
}

.pwres-cena{
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom:10px;
    font-family: 'Inter';
}

.pwres-date{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}